In [176]:
import pandas as a

In [177]:
b = a.read_csv(r"C:\Users\Akash\OneDrive\Documents\Heart_Disease_Prediction.csv")
b

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3,3,Presence
1,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0,7,Absence
2,57,1,2,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0,7,Presence
3,64,1,4,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1,7,Absence
4,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0,7,Absence
266,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0,7,Absence
267,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0,3,Absence
268,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0,6,Absence
269,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3,3,Presence

In [178]:
b.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [179]:
b.shape

(270, 14)

In [180]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       257 non-null    float64
 4   Cholesterol              257 non-null    float64
 5   FBS over 120             257 non-null    float64
 6   EKG results              257 non-null    float64
 7   Max HR                   257 non-null    float64
 8   Exercise angina          257 non-null    float64
 9   ST depression            257 non-null    float64
 10  Slope of ST              257 non-null    float64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(8), int64(5), object(1)
memory usage: 29.7+ KB

In [181]:
b.isnull().sum()

Age                         0
Sex                         0
Chest pain type             0
BP                         13
Cholesterol                13
FBS over 120               13
EKG results                13
Max HR                     13
Exercise angina            13
ST depression              13
Slope of ST                13
Number of vessels fluro     0
Thallium                    0
Heart Disease               0
dtype: int64

In [182]:
#b.fillna(method='ffill',inplace=True)

In [183]:
b=b.dropna()

In [184]:
b.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [185]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 257 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      257 non-null    int64
 1   Sex                      257 non-null    int64
 2   Chest pain type          257 non-null    int64
 3   BP                       257 non-null    float64
 4   Cholesterol              257 non-null    float64
 5   FBS over 120             257 non-null    float64
 6   EKG results              257 non-null    float64
 7   Max HR                   257 non-null    float64
 8   Exercise angina          257 non-null    float64
 9   ST depression            257 non-null    float64
 10  Slope of ST              257 non-null    float64
 11  Number of vessels fluro  257 non-null    int64
 12  Thallium                 257 non-null    int64
 13  Heart Disease            257 non-null    object
dtypes: float64(8), int64(5), object(1)
memory usage: 30.1+ KB

In [186]:
#feature extration
x=b.iloc[:, :-1]
x

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3,3
1,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0,7
2,57,1,2,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0,7
3,64,1,4,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1,7
4,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0,7
266,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0,7
267,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0,3
268,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0,6
269,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3,3

In [187]:
y=b.iloc[:, :-1]
y

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3,3
1,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0,7
2,57,1,2,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0,7
3,64,1,4,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1,7
4,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0,7
266,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0,7
267,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0,3
268,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0,6
269,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3,3

In [188]:
y=b[['Heart Disease']]
y

    Heart Disease
0        Presence
1         Absence
2        Presence
3         Absence
4         Absence
..            ...
265       Absence
266       Absence
267       Absence
268       Absence
269      Presence

[257 rows x 1 columns]

In [189]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20)

In [190]:
xtrain.shape

(205, 13)

In [191]:
ytrain.shape

(205, 1)

In [192]:
xtest.shape

(52, 13)

In [193]:
ytest.shape

(52, 1)

In [194]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.tree import DecisionTreeClassifier
c=DecisionTreeClassifier()
c.fit(x,y)
Ypred=c.predict(xtest)
score = accuracy_score(ytest,Ypred)
print(score)

1.0

In [195]:
from sklearn import svm
c1=svm.SVC()
c1.fit(x,y)
Ypred=c1.predict(xtest)
score = accuracy_score(ytest,Ypred)
print(score)

0.7307692307692307

C:\Users\akash\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [196]:
p=c.predict([[67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0,7]])
print(p)

['Absence']

C:\Users\akash\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [201]:
print(classification_report(ytest,Ypred))

              precision    recall  f1-score   support

     Absence       0.70      0.93      0.80        30
    Presence       0.83      0.45      0.59        22

    accuracy                           0.73        52
   macro avg       0.77      0.69      0.69        52
weighted avg       0.76      0.73      0.71        52

In [203]:
cm=confusion_matrix(ytest,Ypred)
cm

array([[28,  2],
       [12, 10]], dtype=int64)